
body{
    font-family: Garamond, serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*
.container{}

h1 {}

input, button {}

button{}

button:hover {}
*/